div.box {
	width: 35%;
	border: 1px solid #00a591;
	margin-left: 10px;
	padding: 20px;
	float: left;
}

input, select, textarea {
	margin: 3px;
	padding: 5px;
	border: 1px solid #00a591;
	border-radius: 5px;
}

.navbar {
	border-radius: 0px;
}

.center-div1 {
	margin-left: 138px;
}

.footer {
	/* margin-top: 229px; */
	margin-top: 335px;
	padding: 35px;
	text-align: center;
	background: #101010;
	color: white;
}

.accValid {
	margin-left: 456px;
}

.accError {
	color:red;
}
.add-success {
	color: green;
    font-size: 20px;
}
.main-panel {
	margin-top: 89px;
}